body{
	margin: 0;
	color: #000000;
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
	line-height: 1.3;
    background: #f69a73;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.header{
	background-color: #02918c;
}

.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	display: inline-block;
	font-size: 20px;
	color: whitesmoke;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin: 25px 30px;
}

.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li{
	display: inline-block;
}

.main-nav a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 20px;
}

.main-block{
  	text-align: center;
}

.main-block ul {
  margin: 0;
  padding: 0;
}

.main-block ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 12px 12px 12px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type:none;
}

.main-block ul li:hover {
  background: #ddd;
}

.link a {
  text-decoration:none;
  display: inline-block;
  line-height: 1;
  color:#2F73B6;
}

.link a:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #225384;
  transition: width 0.4s ease-in-out;
}

.link a:hover:after,
.link a:focus:after {
  width: 100%;
}

.link a:hover{
  color:#225384;
}

* {
   box-sizing: border-box;
}

.decor {
   position: relative;
   max-width: 400px;
   margin: 50px auto 0;
   background: white;
   border-radius: 30px;
}
.left-decoration, .right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #f69a73;
   border-radius: 20px;
}
.left-decoration {
   bottom: 60px;
   left: -30px;
}
.right-decoration {
   top: 60px;
   right: -30px;
}
.left-decoration:before, .left-decoration:after, .right-decoration:before, .right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}
.left-decoration:before {
    top: -20px;
    left: -1px;
}
.left-decoration:after {
   top: 20px;
   left: 10px;
}
.right-decoration:before {
   top: -20px;
   right: 0;
}
.right-decoration:after {
   top: 20px;
   right: 10px;
}
.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
.inner {
    padding: 50px;
    line-height: 40px;
}
.inner input, .inner textarea, .inner select {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.inner textarea {
    resize: none;
    line-height: 20px;
    height: 200px
}
.inner h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}