{% extends 'base.html' %}

{% block title %}Список задач{% endblock title %}

{% block content %}

{% if not tasks %}
    <h2>ЗАДАЧ НЕТ</h2>
{% endif %}
    <div class="link">
        <ul>
            {% for task in tasks %}
            <li>
                <a href="{% url "task-view" task.id %}">
                    <div>{{ task.description }}</div>
                    <div>Статус: {{ task.get_status_display }}</div>
                </a>
            </li>
            <hr>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}

