{% csrf_token %}
    <input type="text" name="author" value="{{ task.author }}" placeholder="{{ placeholder_author }}">
    <input type="text" name="description" value="{{ task.description }}" placeholder="{{ placeholder_description }}">
    <textarea name="full_description" rows="3" placeholder="{{ placeholder_full_description }}">{{ task.full_description }}</textarea>
    <select name="status">
        {% for s_eng, s_ru in choices %}
            <option value="{{ s_eng }}">{{ s_ru }}</option>
        {% endfor %}
        </select>
    <input type="text" name="date_of_completion" value="{{ task.date_of_completion|date:'Y-m-d' }}" placeholder="{{ placeholder_date }}">
<p><input type="submit" value="{{ button_text }}"></p>