{% extends 'base.html' %}

{% block title %}Список задач{% endblock title %}

{% block content %}

    <form class="decor" action="{% url "task-add" %}" method="post">
        {% csrf_token %}
            <h3>Создайте новую задачу</h3>
        {% include 'task_form.html' with button_text="Создать" placeholder_author="Автор" placeholder_description="Краткое описание" placeholder_full_description="Полное описание" placeholder_date="Дата выполнения 'YYYY-mm-dd" %}
    </form>

{% endblock content %}