<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Просмотр задачи</title>
</head>
<body>
    <p><a href="/">На главную</a></p>
    <h1>Задача:</h1>
    <h2>Описание задачи: {{ task.description }}</h2>
    <p>Статус задачи: {{ task.status }}</p>
    <p>Дата выполнения: {{ task.date_of_completion }}</p>
</body>
</html>

