<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новая задача</title>
</head>
<body>
    <h1>Создайте новую задачу</h1>
    <form action="/task/add/" method="post">
        {% csrf_token %}
        <label>Author:</label><br/>
        <input type="text" name="author"/><br/>
        <br/>
        <label>Описание:</label><br/>
        <input type="text" name="description"/><br/>
        <label>Статус:</label><br/>

        <select name="status">
             {% for s_eng, s_ru in choices %}
            <option value="{{ s_eng }}">{{ s_ru }}</option>
             {% endfor %}
         </select>
        <br/>

        <label>Дата выполнения:</label><br/>
        <input type="text" name="date_of_completion"/><br/>

        <input type="submit" value="Send"/>
</body>
</html>